[Desktop Entry]
Type=Application
Name=Keyboard Shortcuts
Comment=Show all keyboard shortcuts
Exec=/usr/local/bin/simpleos-help
Icon=preferences-desktop-keyboard-shortcuts
Categories=System;Documentation;
