<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<!-- Simple OS – Setup-Wizard: Software installieren/entfernen per pkexec (grafischer Passwortdialog) -->
<policyconfig>
  <vendor>Simple OS</vendor>
  <action id="org.simpleos.system-setup">
    <description>Install and remove software chosen in the Setup Wizard</description>
    <message>Simple OS needs your password to install or update software.</message>
    <icon_name>system-software-install</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/sbin/simpleos-system-setup</annotate>
  </action>
</policyconfig>
